/* CSS made by abbyrwang*/
/*Please keep ths header if you are gonna reuse or change it*/ 

/*Font*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap') /*font is comfortaa*/

/* Cursor (changes user mouse cursor to the desired image) */

{ cursor: url("data:image/x-icon;base64,AAACAAEAICAQAAEAAQDoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAA2ah1AP/q1AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAEAAAAAAAAAAAAAAAABIQASEAAAAAAAAAAAAAAAASIRIhAAAAAAAAAAAAAAEREiIiIREQAAAAAAAAAAABIhEiIhEiEAAAAAAAAAAAASIQEiEBIhAAAAAAAAAAEREiESIiESIREQAAAAAAABIiIhIiIiEiIiEAAAAAAAASIiISIRIhIiIhAAAAAAARARERIRABIREREREAAAABIhEBIiEAABIiEBIiEAAAABIiEiIQAAABIiEiIQAAAAABIiIhAAAAABIiIhAAAAAAASIiIQAAAAASIiIQAAAAABIiEiIQAAABIiEiIQAAAAEiIQEiIQAAEiIQEiIQAAAAERERERIQASERERERAAAAAAASIiISIRIhIiIhAAAAAAAAEiIiEiIiISIiIQAAAAAAABERIhEiIhEiEREAAAAAAAAAASIQEiEBIhAAAAAAAREQAAEiESIiESIQAAAAAAEiEAABERIiIiEREAAAAAABIhAAAAASIRIhAAAAAAAAASIREQAAEhABIQAAAAAAAAEiIiEAAAEAABAAAAAAAAABIiIhAAAAAAAAAAAAAAAAAREREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/////////////////+9////GP///wD///gAH//4AB//+EIf/8AAA//AAAP/wAAD/yAYAP4IPBB/AH4A/4D/Af+A/wH/AH4A/gg8EH8AGAD/wAAD/8AAA//AAAP/+EIf+HgAH/h4AB/4fwD/+A8Y//gPvf/4D///+A/////////w==") 4 12, auto; } 

a{ cursor: url("data:image/x-icon;base64,AAACAAEAICAQAAEAAQDoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAA2ah1AP/q1AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAEAAAAAAAAAAAAAAAABIQASEAAAAAAAAAAAAAAAASIRIhAAAAAAAAAAAAAAEREiIiIREQAAAAAAAAAAABIhEiIhEiEAAAAAAAAAAAASIQEiEBIhAAAAAAAAAAEREiESIiESIREQAAAAAAABIiIhIiIiEiIiEAAAAAAAASIiISIRIhIiIhAAAAAAARARERIRABIREREREAAAABIhEBIiEAABIiEBIiEAAAABIiEiIQAAABIiEiIQAAAAABIiIhAAAAABIiIhAAAAAAASIiIQAAAAASIiIQAAAAABIiEiIQAAABIiEiIQAAAAEiIQEiIQAAEiIQEiIQAAAAERERERIQASERERERAAAAAAASIiISIRIhIiIhAAAAAAAAEiIiEiIiISIiIQAAAAAAABERIhEiIhEiEREAAAAAAAAAASIQEiEBIhAAAAAAAREQAAEiESIiESIQAAAAAAEiEAABERIiIiEREAAAAAABIhAAAAASIRIhAAAAAAAAASIREQAAEhABIQAAAAAAAAEiIiEAAAEAABAAAAAAAAABIiIhAAAAAAAAAAAAAAAAAREREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/////////////////+9////GP///wD///gAH//4AB//+EIf/8AAA//AAAP/wAAD/yAYAP4IPBB/AH4A/4D/Af+A/wH/AH4A/gg8EH8AGAD/wAAD/8AAA//AAAP/+EIf+HgAH/h4AB/4fwD/+A8Y//gPvf/4D///+A/////////w==") 

4 12, auto; } div:hover{ cursor: url("data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////APrc+QD23PcA9/zKAPK/5QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAABAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQAAUAAFAAAAAAAAAAAAAAA1AFAFQAAAAAAAAAAAAAAAVUQDNVAAAAAAAAAAAAAAAAQwQEMAAAAAAAAAAAAAAAAEA1QDAAAAAAAAAAAAAAEFUDUFMFUBAAAAAAAAAAAAAAMEUwQAAAAAAAAAAAAAAAADQEAkAAAAAAAAAAAAAAAAVTMERVAAAAAAAAAAAAAAAEUAUAUwAAAAAAAAAAAAAAUAAFAABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAEAAAAQAAAAAAAAAAD//////////////////////////////////////////////////////////////////////////////////////////379////////3vf//+bP///hD///8p////Rf//9JJf//9F////Kf///hD///5s///973////////fv3//w==") 

4 12, auto; }

/*Header and navigation box */

#header{
height:103vh;
background-color:rgb(0,0,0);
background-image:url("https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-hand-drawn-winter-snow-snow-illustration-background-image_281125.jpg");
background-position: 100% 50%;
background-repeat: no-repeat;
background-size: 100%;
background-attachment:fixed;
border-style:none;
overflow-x:hidden!important;

}

/*Entries and Comments*/

div .entrywrap, div .entrywrap-hover {
border: none;
box-shadow:6px 6px #99e6ff;
border-radius:30px;
background-color: #BFEFFF;
}
div.commentwrap{
border: none;
background-color: #edfaff;
}
.comment.row2, .comment.row1{
background-color:#BFEFFF;
border:none;
}

/*Shoutout box*/

.row1 {
font-family: Comfortaa;
background-color: white;
color: black;
corner-radius: 5px;
}

.row2 {
font-family: Comfortaa;
background-color:#BFEFFF;
color: black;
}
